# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

package-lock.json
android/app/src/main/res/drawable-hdpi/node_modules_reactnavigationstack_lib_module_views_assets_backicon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigationstack_lib_module_views_assets_backicon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigationstack_lib_module_views_assets_backiconmask.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_1_4_1.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_1_6_2_hi.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_change_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_close_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_go_ani_n_1.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_go_ani_n_2.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_go_ani_n_3.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_go_ani_n_4.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_go_ani_n_5.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_go_ani_s.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_sim_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_btn_sim_s.png
android/app/src/main/res/drawable-mdpi/res_drawable_bus_b.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_10_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_11_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_12_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_13_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_14_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_15_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_16_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_17_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_18_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_19_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_1_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_2_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_30_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_31_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_32_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_33_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_34_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_35_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_36_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_37_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_38_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_39_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_3_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_40_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_4_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_5_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_6_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_7_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_8_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_c_m_0.png
android/app/src/main/res/drawable-mdpi/res_drawable_compass_bg.png
android/app/src/main/res/drawable-mdpi/res_drawable_compass_bg_birdview.png
android/app/src/main/res/drawable-mdpi/res_drawable_compass_h_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_compass_north.png
android/app/src/main/res/drawable-mdpi/res_drawable_curpos_2_5_1.png
android/app/src/main/res/drawable-mdpi/res_drawable_d_compass_b_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_d_zoom_down_dis.png
android/app/src/main/res/drawable-mdpi/res_drawable_d_zoom_down_nor.png
android/app/src/main/res/drawable-mdpi/res_drawable_d_zoom_down_sel.png
android/app/src/main/res/drawable-mdpi/res_drawable_d_zoom_level_bg.png
android/app/src/main/res/drawable-mdpi/res_drawable_d_zoom_up_dis.png
android/app/src/main/res/drawable-mdpi/res_drawable_d_zoom_up_nor.png
android/app/src/main/res/drawable-mdpi/res_drawable_d_zoom_up_sel.png
android/app/src/main/res/drawable-mdpi/res_drawable_drive_sim_day_1x_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_drive_sim_day_2x_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_drive_sim_day_4x_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_drive_sim_day_close_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_drive_sim_day_play_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_drive_sim_day_stop_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_high_a.png
android/app/src/main/res/drawable-mdpi/res_drawable_high_b.png
android/app/src/main/res/drawable-mdpi/res_drawable_icon_check.png
android/app/src/main/res/drawable-mdpi/res_drawable_info_cion_triangle.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1234_0000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1234_0001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1234_0010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1234_0100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1234_1000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1234_1111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1236_0000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1236_0001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1236_0010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1236_0100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1236_1000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1236_1111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_123_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_123_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_123_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_123_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_123_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1246_0000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1246_0001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1246_0010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1246_0100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1246_1000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1246_1111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_124_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_124_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_124_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_124_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_124_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_12_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_12_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_12_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_12_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_134_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_134_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_134_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_134_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_134_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_13_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_13_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_13_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_13_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_145_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_145_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_145_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_145_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_145_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_146_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_146_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_146_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_146_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_146_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_14_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_14_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_14_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_14_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_156_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_156_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_156_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_156_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_156_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_15_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_15_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_15_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_15_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_16_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_16_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_16_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_16_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1_0.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_1_1.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_234_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_234_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_234_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_234_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_234_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_235_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_235_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_235_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_235_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_235_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_23_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_23_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_23_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_23_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_2456_0000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_2456_0001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_2456_0010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_2456_0100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_2456_1000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_2456_1111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_245_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_245_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_245_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_245_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_245_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_246_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_246_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_246_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_246_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_246_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_24_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_24_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_24_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_24_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_256_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_256_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_256_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_256_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_256_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_25_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_25_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_25_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_25_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_26_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_26_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_26_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_26_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_2_0.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_2_1.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_346_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_346_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_346_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_346_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_346_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_34_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_34_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_34_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_34_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_356_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_356_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_356_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_356_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_356_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_35_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_35_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_35_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_35_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_36_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_36_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_36_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_36_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_3_0.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_3_1.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_456_000.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_456_001.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_456_010.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_456_100.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_456_111.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_45_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_45_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_45_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_45_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_46_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_46_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_46_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_46_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_4_0.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_4_1.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_56_00.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_56_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_56_10.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_56_11.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_5_0.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_5_1.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_6_0.png
android/app/src/main/res/drawable-mdpi/res_drawable_laneguid_6_1.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_01_straight_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_02_turn_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_03_turn_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_04_turn_slight_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_05_turn_slight_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_06_turn_sharp_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_07_turn_sharp_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_08_ramp_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_09_ramp_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_10_fork_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_11_fork_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_12_keep_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_13_keep_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_14_uturn_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_15_uturn_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_16_pturn_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_17_pturn_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_18_roundabout_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_19_roundabout_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_20_merge_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_21_1st_highway_in_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_22_1st_highway_exit_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_23_1st_highway_in_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_24_1st_highway_exit_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_25_1st_highway_in_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_26_1st_highway_exit_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_27_2nd_highway_in_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_28_2nd_highway_exit_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_29_2nd_highway_in_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_30_2nd_highway_exit_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_31_2nd_highway_in_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_32_2nd_highway_exit_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_33_tunnel_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_34_overpass1_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_35_overpass2_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_36_overpass_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_37_overpass_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_38_underpass_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_39_underpass_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_40_underpass_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_41_left_underpass_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_42_right_underpass_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_43_tollgate_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_44_ferry_train_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_45_ferry_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_46_left_overpass_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_47_right_overpass_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_48_service_area_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_49_start_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_50_goal_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_51_via1_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_52_via2_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_53_via3_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_54_restarea_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_list_55_via_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_m_m_button_icon_11_nor.png
android/app/src/main/res/drawable-mdpi/res_drawable_m_s_setting_map_car_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_m_s_setting_map_car_02.png
android/app/src/main/res/drawable-mdpi/res_drawable_m_s_setting_map_car_03.png
android/app/src/main/res/drawable-mdpi/res_drawable_m_s_setting_map_car_04.png
android/app/src/main/res/drawable-mdpi/res_drawable_m_s_setting_map_route_01.png
android/app/src/main/res/drawable-mdpi/res_drawable_m_s_setting_map_route_02.png
android/app/src/main/res/drawable-mdpi/res_drawable_m_s_setting_map_route_03.png
android/app/src/main/res/drawable-mdpi/res_drawable_m_s_setting_map_route_04.png
android/app/src/main/res/drawable-mdpi/res_drawable_map_air_off.png
android/app/src/main/res/drawable-mdpi/res_drawable_map_air_on.png
android/app/src/main/res/drawable-mdpi/res_drawable_map_air_road_on.png
android/app/src/main/res/drawable-mdpi/res_drawable_map_nor.png
android/app/src/main/res/drawable-mdpi/res_drawable_pocket_a.png
android/app/src/main/res/drawable-mdpi/res_drawable_pocket_b.png
android/app/src/main/res/drawable-mdpi/res_drawable_s_info_icon_charge_sel.png
android/app/src/main/res/drawable-mdpi/res_drawable_summary_icon_destination.png
android/app/src/main/res/drawable-mdpi/res_drawable_summary_icon_middle.png
android/app/src/main/res/drawable-mdpi/res_drawable_summary_icon_start.png
android/app/src/main/res/drawable-mdpi/res_drawable_tab_btn_icon_free_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_tab_btn_icon_free_s.png
android/app/src/main/res/drawable-mdpi/res_drawable_tab_btn_icon_general_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_tab_btn_icon_general_s.png
android/app/src/main/res/drawable-mdpi/res_drawable_tab_btn_icon_recomm_n.png
android/app/src/main/res/drawable-mdpi/res_drawable_tab_btn_icon_recomm_s.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_01_straight_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_02_turn_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_03_turn_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_04_turn_slightbt_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_05_turn_slightbt_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_06_turn_sharp_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_07_turn_sharp_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_08_ramp_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_09_ramp_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_10_fork_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_11_fork_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_12_keep_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_13_keep_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_14_uturn_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_15_uturn_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_16_pturn_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_17_pturn_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_18_roundaboutbt_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_19_roundaboutbt_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_20_merge_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_21_1st_highway_in_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_22_1st_highway_exit_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_23_1st_highway_in_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_24_1st_highway_exitbt_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_25_1st_highway_in_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_26_1st_highway_exitbt_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_27_2nd_highway_in_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_28_2nd_highway_exit_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_29_2nd_highway_in_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_30_2nd_highway_exitbt_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_31_2nd_highway_in_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_32_2nd_highway_exitbt_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_33_tunnel_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_34_overpass1_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_35_overpass2_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_36_overpass_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_37_overpass_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_38_underpass_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_39_underpass_left_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_40_underpass_right_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_41_leftbt_underpass_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_42_rightbt_underpass_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_43_tollgate_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_44_ferry_train_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_45_ferry_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_46_leftbt_overpass_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_47_rightbt_overpass_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_48_service_area_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_49_start_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_50_goal_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_51_via1_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_52_via2_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_53_via3_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_54_restarea_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_tbt_55_via_pnd.png
android/app/src/main/res/drawable-mdpi/res_drawable_under_a.png
android/app/src/main/res/drawable-mdpi/res_drawable_under_b.png
android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigationstack_lib_module_views_assets_backicon.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigationstack_lib_module_views_assets_backicon.png
android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigationstack_lib_module_views_assets_backicon.png
android/app/src/main/res/values/com_crashlytics_export_strings.xml
android/app/src/main/assets/crashlytics-build.properties
android/app/src/main/assets/index.android.bundle
