.DS_Store
.git*
.idea
Makefile

example/android/app/build/
example/node_modules/
example/ios/build/

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml


/example/ios/Pods

/example/android/.idea
/example/android/.idea/workspace.xml
/example/android/.idea/tasks.xml
/example/android/.idea/gradle.xml
/example/android/.idea/assetWizardSettings.xml
/example/android/.idea/dictionaries
/example/android/.idea/libraries

/example/android/.idea/caches
/example/android/.idea/modules.xml

/example/android/.idea/navEditor.xml

/example/node_modules
/assets
